/* los estilos deben estar al mismo nivel de donde se usan ya que al ser componentes quienes lo usen deben ser reutilizables y f'aciles de mover, esto aplica para todas las hojas de estilos que son para un componente */
.formulario-envio {
    margin-top: 20px;
  }
  
  .formulario-envio form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .formulario-envio input, .formulario-envio select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  
  .formulario-envio_control{
    display: flex;
    flex-direction: column;
  }
  
  .formulario-envio_control_error{
    color: red;
  }
  
  .formulario-envio_btn-comprar {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }