:root {
    --color-primario: #151515;
    --color-secundario: #ffffff;
    --color-fondo: #ffe745;
    --color-hover: #73cca1;
    --color-fondo-footer: #38393b;
    --color-terciario: #f5f5f5;
    --color-servicios: #6046b6;
    --color-fondos-textos-iconos: #4c4d4f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

}

/*NAVBAR*/

.seccionNavBarPage {
    height: 150px;
    position: relative;
}

.seccionNavBarPage__contenido-NavBarside--first {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.seccionNavBarPage__navbar-contactos--first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.seccionNavBarPage__contenido-NavBarside--second {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.seccionNavBarPage__navbar-redes--second {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccionNavBarPage__navbar--telefonos {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--color-secundario);
}

.seccionNavBarPage__navbar--iphone {
    line-height: 1.5;
    letter-spacing: .075em;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-secundario);
    font-size: 16px;
}

.seccionNavBarPage__boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.seccionNavBarPage__box--first {
    background: #999999;
}

.seccionNavBarPage__box--second {
    background: var(--color-terciario);
}

.seccionNavBarPage__navbar-redes--Buscador {
    position: relative;
}

.seccionNavBarPage__navbar-icon--search {
    position: absolute;
    z-index: 2;
    width: auto;
    height: auto;
    right: 18px;
    top: 13px;
    font-size: 18px !important;
}

.seccionNavBarPage__navbar-redes--logincompra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.seccionNavBarPage__navbar-icon--login {
    font-size: 32px !important;
}

.seccionNavBarPage__navbar-icon--carrito {
    font-size: 35px !important;
    position: relative;
}

.seccionNavBarPage__navbar--inputBoton {
    width: 600px;
    height: 45px;
    border-radius: 18px;
    border: none;
    padding: 0px 20px;
}

.seccionNavBarPage__navbar-contactos--second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.seccionNavBarPage__navbar-icon--redes {
    width: 29px;
    height: 29px;
    line-height: 29px !important;
    font-size: 16px !important;
    text-decoration: none;
    background: #ebebeb;
    display: flex !important;
    align-items: center;
    justify-content: center;
    transition: all .25s ease-in-out;
    color: var(--color-primario);
}

.seccionNavBarPage__navbar-icon--redes:hover {
    background-color: var(--color-hover);
    color: var(--color-secundario);
}

.seccionNavBarPage__navbar-redes--third {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccionNavBarPage__navbar--icon {
    font-size: 17px;
}

@media(max-width:799px) {
    .seccionNavBarPage {
        height: auto;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1070;
    }

    .seccionNavBarPage__box--first {
        display: none;
    }

    .seccionNavBarPage__boxes {
        height: 60px;
        padding: 0px 10px;
    }

    .seccionNavBarPage__contenido-NavBarside--second {
        gap: 15px;
    }

    .seccionNavBarPage__navbar--inputBoton {
        width: 100%;
        padding: 0px 8px;
    }

    .seccionNavBarPage__contenido--Logo {
        width: 125px;
        height: 39px;
    }

    .seccionNavBarPage__navbar-redes--logincompra {
        gap: 12px;
    }

    .seccionNavBarPage__navbar-icon--login {
        font-size: 25px !important;
    }

    .seccionNavBarPage__navbar-icon--carrito {
        font-size: 28px !important;
        position: relative;
    }

    .seccionNavBarPage__navbar-icon--search {
        width: 30px;
        height: 30px;
        right: 3px;
        top: 13px;
        font-size: 18px !important;
    }

}


@media (min-width: 800px) and (max-width: 1270px) {

    .seccionNavBarPage__navbar--inputBoton {
        width: 480px;
    }

    .seccionNavBarPage__navbar-redes--logincompra {
        gap: 25px;
    }

    .seccionNavBarPage {
        height: 75px;
    }

    .seccionNavBarPage__contenido--Logo {
        width: 138px;
        height: 40px;
    }

    .seccionNavBarPage__contenido-NavBarside--second {
        gap: 25px;
    }

    .seccionNavBarPage__box--first {
        display: none;
    }

    .seccionNavBarPage {
        height: auto;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1070;
    }

}



/*BANNER PRINCIPAL*/

.seccionBannerPrincipal {
    position: relative;
    height: 500px;
}

.seccionBannerPrincipal__contenido {
    max-width: 500px;
    margin: 0 auto;
    right: 17em;
    top: 3em;
    position: relative;
}


.seccionBannerPrincipal__itemPictures {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.seccionBannerPrincipal__Imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.seccionBannerPrincipal__contenido--Textos {
    color: var(--color-secundario);
    font-size: 79px;
}

.seccionBannerPrincipal__contenido--descripcion {
    color: var(--color-secundario);
    font-size: 20px;
    width: 400px;
    line-height: 26px;
    margin-top: 12px;
    margin-bottom: 1em;
}

.seccionBannerPrincipal__botonbanner {
    width: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primario);
    background-color: var(--color-fondo);
    border-color: var(--color-fondo);
    height: 80px;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .25s ease-in-out;
}


.seccionBannerPrincipal__botonbanner:hover {
    background-color: var(--color-hover);
    color: var(--color-secundario);
}

@media(max-width:600px) {
    .seccionBannerPrincipal__contenido {
        max-width: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 6em;
    }

    .seccionBannerPrincipal {
        margin-top: 60px;
    }

    .seccionBannerPrincipal__contenido--Textos {
        text-align: center;
        width: 300px;
        margin: 0 auto;
        font-size: 50px;
    }

    .seccionBannerPrincipal__contenido--descripcion {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 1em;
    }

    .seccionBannerPrincipal__botonbanner {
        width: 219px;
        height: 64px;
        font-size: 13px;
    }
}

@media (min-width: 601px) and (max-width: 770px) {
    .seccionBannerPrincipal__contenido {
        right: 1em;
        top: 5em;
    }

    .seccionBannerPrincipal__contenido--Textos {

        font-size: 50px;
    }

    .seccionBannerPrincipal__contenido--descripcion {

        margin-top: 12px;
        margin-bottom: 1em;
    }

    .seccionBannerPrincipal__botonbanner {
        width: 219px;
        height: 64px;
        font-size: 13px;
    }
}

@media (min-width: 770px) and (max-width: 1270px) {
    .seccionBannerPrincipal__contenido {
        right: 7em;
    }
}


/*PRODUCTOS*/

.seccionProductos {
    text-align: center;
    margin: 60px auto;
    margin-bottom: 7em;
}

.seccionProductos__titulo {
    font-size: 50px;
    font-family: 'Roboto';
}

.seccionProductos__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    gap: 34px;
}

.seccionProductos__cards--Boxes {
    width: 280px;
    height: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    transition: transform .2s, box-shadow .3s;
    padding: 0px 10px;
}

.seccionProductos__cards--Boxes:hover {
    border: 1px solid #e1e1e1;
    transform: scale(1.05) translateZ(0);
}

.seccionProductos__cards--Boxes img {
    width: 100%;
    height: auto;
    margin: 8px auto;
    margin-bottom: 15px;
}

.seccionProductos__cards--Boxes h3 {
    font-size: 17px;
    margin-bottom: 5px;
}

.seccionProductos__cards--Boxes p {
    font-size: 17px;
    margin-bottom: 5px;
}

@media(max-width:799px) {
    .seccionProductos__titulo {
        font-size: 43px;
    }

    .seccionProductos {
        margin: 42px auto;
        margin-bottom: 5em;
    }

    .seccionProductos__cards--Boxes {
        width: 172px;
    }

    .seccionProductos__cards {
        gap: 20px;
    }

    .seccionProductos__cards--Boxes h3 {
        font-size: 14px;
    }

    .seccionProductos__cards--Boxes p {
        font-size: 15px;
    }
}

@media (min-width: 800px) and (max-width: 1270px) {
    .seccionProductos__cards {
        width: 800px;
    }

    .seccionBannerPrincipal {
        margin-top: 75px;
    }

    .seccionProductos__cards--Boxes {
        width: 240px;
    }

    .seccionProductos__cards--Boxes h3 {
        font-size: 15px;
    }

    .seccionProductos__cards--Boxes p {
        font-size: 16px;
    }

    .paginacion {
        width: 670px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .seccionProductos {
        margin-bottom: 4em;
    }


}


/*SERVICIOS CARDS*/

.seccionSR__servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    margin-bottom: 3em;
}

.seccionSR__Cajas {
    position: relative;
    padding: 50px 15px;
    background: var(--color-secundario);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
    z-index: 1;
    width: 270px;
    height: 329px;
    text-align: center;
    transition: all 0.3s ease;
}

.seccionSR__nombresTitulo {
    font-weight: 400;
    letter-spacing: .025em;
    text-transform: none;
    font-size: 22px;
    margin-top: 38px;
}

.seccionSR__descripcion {
    color: #777777;
    width: 90%;
    margin: 0 auto;
    margin-top: 24px;
    line-height: 22px;
}

.seccionSR__iconmegaHeader {
    position: relative;
}

.seccionSR__iconmega {
    display: inline-block;
    vertical-align: middle;
    min-height: 55px;
    font-size: 48px;
    line-height: 55px;
    color: var(--color-servicios);
    transition: color 0.3s ease;
}

.seccionSR__iconmegaHeader::before {
    width: 114px;
    height: 55px;
    transition: all .3s ease, border-color .3s ease-in-out .3s;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    border-width: 0 4px 0 4px;
    border-style: solid;
    border-color: var(--color-terciario);
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
}

.seccionSR__iconmegaHeader::after {
    width: 153px;
    height: 25px;
    transition: all .2s ease .2s, border-width .2s ease 0s, border-color .3s ease-in-out .3s;
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    border-width: 0 4px 0 4px;
    border-style: solid;
    border-color: var(--color-terciario);
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
}

.seccionSR__iconmega.lnr:hover {
    color: var(--color-hover);
}


@media(max-width:790px) {
    .seccionSR__Cajas {
        height: 300px;
        padding: 44px 15px;
    }
}

@media (min-width: 800px) and (max-width: 1270px) {

    .seccionSR__Cajas {
        height: 300px;
        padding: 44px 15px;
    }

    .seccionSR__servicios {
        width: 800px;
    }
}

/*FOOTER*/

.seccionFooter {
    margin: 0 auto;
    background: var(--color-fondo-footer);
    color: var(--color-secundario);
}

.seccionFooter__boxes {
    display: flex;
}

.seccionFooter__Servicios {
    font-weight: 700;
    font-size: 24px;
}

.seccionFooter__container {
    width: 1200px;
    margin: 0 auto;
}

.seccionFooter__ListaOfrecer {
    list-style: none;
    text-align: left;
    max-width: 300px;
    margin-top: 20px;
}

.seccionFooter__ListaOfrecer>li {
    margin-bottom: 10px;
    display: block;
    margin-left: 0;
}

.seccionFooter__ListaOfrecer a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.seccionFooter__box--first {
    width: 399px;
}

.seccionFooter__box--second {
    width: 300px;
}

.seccionFooter__box--third {
    width: 500px;
}

.seccionFooter__registrar {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.seccionFooter__botonesSubscribe {
    display: flex;
    margin-top: 12px;
}

.seccionFooter__inputBoton {
    width: 323px;
    border: 1px solid #e1e1e1;
    padding: 16px 25px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    height: 60px;
    border-color: var(--color-secundario);
    background: rgba(255, 255, 255, 0.15);
    color: var(--color-secundario);
}

.seccionFooter__Suscribete {
    width: 146px;
    height: 60px;
    color: var(--color-primario);
    background-color: var(--color-fondo);
    border-color: var(--color-fondo);
    cursor: pointer;
    border: none;
    font-weight: 900;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    transition: all .25s ease-in-out;
}

.seccionFooter__Suscribete:hover {
    background-color: var(--color-hover);
    color: var(--color-secundario);
}

.seccionFooter__direccion {
    color: rgba(255, 255, 255, 0.4);
}

.seccionFooter__derechos {
    color: rgba(255, 255, 255, 0.4);
}

.seccionFooter__boxes--first {
    padding: 80px 0px;
}

.seccionFooter__boxes--second {
    padding: 50px 0px;
    border-top: 1px solid var(--color-fondos-textos-iconos);
    column-gap: 9em;
    justify-content: center;
}

.seccionFooter__boxes--third {
    padding: 40px 0px;
    column-gap: 29em;
    border-top: 1px solid var(--color-fondos-textos-iconos);
}

.seccionFooter__porcentaje {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--color-secundario);
    column-gap: 8px;
}

.seccionFooter__informaciones {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4em;
    align-items: flex-end;
}

.seccionFooter__informaciones--boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.seccionFooter__informaciones--icon {
    text-align: center;
    width: 35px;
    height: 35px;
    color: var(--color-secundario);
    background: var(--color-fondos-textos-iconos);
    padding: 8px 0px;
    font-size: 16px !important;
    text-decoration: none;
}

.seccionFooter__informaciones--textos {
    font-size: 18px;
    color: var(--color-secundario);
    text-decoration: none;
}

.seccionFooter__icon--first:hover {
    background-color: var(--color-servicios);
    transition: all .25s ease-in-out;
}

.seccionFooter__Suscribete--icon {
    display: none !important;
}

.seccionFooter__Suscribete--texto {
    display: block;
}

@media(min-width:800px) {
    .seccionFooter__ListaOfrecer {
        columns: 2;
    }
}

@media(max-width:799px) {
    .seccionFooter__boxes {
        flex-wrap: wrap;
    }

    .seccionFooter__boxes--first {
        padding: 50px 0px;
    }

    .seccionFooter__boxes--second {
        padding: 40px 0px;
    }

    .seccionFooter__boxes--third {
        padding: 30px 0px;
        justify-content: center;
    }

    .seccionFooter__box--first {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3em;
    }

    .seccionFooter__Servicios {
        font-size: 20px;
        line-height: 1.25;
        text-align: center;
    }

    .seccionFooter__ListaOfrecer {
        text-align: center;
        margin-bottom: -10px;
        margin-left: -10px;
        max-width: 100%;
    }

    .seccionFooter__ListaOfrecer>li {
        display: inline-block;
        margin-left: 10px;
    }

    .seccionFooter__container {
        width: 100%;
    }

    .seccionFooter__box--second {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3em;
    }

    .seccionFooter__registrar {
        text-align: center;
        line-height: 25px;
    }

    .seccionFooter__botonesSubscribe {
        justify-content: center;
    }

    .seccionFooter__Suscribete {
        width: 100%;
        display: block;
    }

    .seccionFooter__box--third {
        width: 100%;
        margin: 0 auto;
    }

    .seccionFooter__inputBoton {
        width: 100%;
        border: none;
    }

    .seccionFooter__informaciones {
        flex-wrap: wrap;
        margin-top: 5px;
        column-gap: 1em;
    }

    .seccionFooter__informaciones--boxes {
        margin-top: 10px;
        column-gap: 10px;
    }

    .seccionFooter__informaciones--textos {
        font-size: 16px;
    }

    .seccionFooter__subbox {
        margin-bottom: 10px;
    }

    .seccionFooter__derechos {
        text-align: center;
        color: rgba(255, 255, 255, 0.2);
    }

    .seccionFooter__Suscribete--icon {
        display: block !important;
        font-size: 27px !important;
        padding: 9px 18px;
    }

    .seccionFooter__Suscribete--texto {
        display: none;
    }

}

@media (min-width: 800px) and (max-width: 1270px) {
    .seccionFooter__container {
        max-width: 720px;
    }

    .seccionFooter__boxes {
        flex-wrap: wrap;
    }

    .seccionFooter__box--first,
    .seccionFooter__box--second {
        width: 360px;

    }

    .seccionFooter__subox--first {
        margin-bottom: 30px;
    }

    .seccionFooter__box--third {
        width: 720px;
    }

    .seccionFooter__boxes--first {
        padding: 50px 0px;
    }

    .seccionFooter__derechos {
        color: rgba(255, 255, 255, 0.2);
    }

    .seccionFooter__box--first {
        margin-bottom: 50px;
    }

    .seccionFooter__boxes--second {
        padding: 40px 0px;
        column-gap: 0em;
        justify-content: flex-start;
    }

    .seccionFooter__boxes--third {
        padding: 30px 0px;
    }

    .seccionFooter__direccion {
        margin-bottom: 10px;
    }

    .seccionFooter__Suscribete {
        width: 100%;
    }

    .seccionFooter__inputBoton {

        border: none;
    }

    .seccionFooter__Suscribete--texto {
        display: none;
    }

    .seccionFooter__Suscribete--icon {
        display: block !important;
        font-size: 27px !important;
        padding: 9px 18px;
    }
}


/*ANCLA BOTON GENERAL*/

.seccionAnclaBoton {
    position: fixed;
    overflow: hidden;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    color: var(--color-primario);
    background: var(--color-fondo);
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: .3s all ease-in-out;
}

.seccionAnclaBoton::before {
    font-size: 30px;
    line-height: 60px;
}

.seccionAnclaBoton:hover {
    color: var(--color-secundario);
    background-color: var(--color-hover);
}

@media (min-width: 576px) {
    .seccionAnclaBoton {
        right: 40px;
        bottom: 40px;
    }
}


.seccionAnclaBoton {
    transform: translate3d(0, 100px, 0);
}

.seccionAnclaBoton.active {
    transform: translate3d(0, 0, 0);
}


.seccionNavBarPage {
    transition: transform 0.6s ease;
}


.seccionNavBarPage.active {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1070;
    height: 75px;
    animation: bounce 0.6s ease-out;
}

/* Definición de la animación de rebote */
@keyframes bounce {
    0% {
        transform: translateY(-6px);
    }

    50% {
        transform: translateY(6px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.seccionNavBarPage__box--first.active--none {
    display: none;
}


.seccionNavBarPage__categorias {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 18px;
    font-size: 16px;
    padding: 10px 20px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.seccionNavBarPage__categorias:hover {
    border-color: var(--color-fondo-footer);
}

.seccionNavBarPage__categorias:focus {
    outline: none;
    border-color: var(--color-fondo-footer);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.seccionNavBarPage__categorias option {
    background-color: #fff;
    color: #333;
    padding: 10px;
    font-size: 16px;
}

.seccionNavBarPage__categorias::after {
    content: '\25BC';
    font-size: 20px;
    color: #007bff;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}


.seccionProductos__cards_agregar {
    margin-top: 8px;
    background-color: var(--color-fondo);
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 18px;
    transition: all .25s ease-in-out;
}

.seccionProductos__cards_agregar:hover {
    background-color: var(--color-hover);
    color: var(--color-secundario);
}


.seccionNavBarPage__navbar-icon--carrito-numero {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}


#buscador-mobil-contenedor {
    width: 80%;
    margin: 10px auto;
}


#buscador-mobil-contenedor .seccionNavBarPage__navbar-redes--second {
    display: flex;
    gap: 10px;
    align-items: center;
}


#buscador-mobil-contenedor .seccionNavBarPage__categorias {
    flex: 1;
    max-width: 200px;
}


#buscador-mobil-contenedor .seccionNavBarPage__navbar--inputBoton {
    flex: 3;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


#buscador-mobil-contenedor .seccionNavBarPage__navbar-icon--search {
    cursor: pointer;
    color: #333;
    margin-left: 10px;
}

.paginacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
}

.paginacion__boton {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
    font-size: 16px;
    min-width: 40px;
    text-align: center;
}

.paginacion__boton.active {
    background-color: var(--color-hover);
    font-weight: 700;
    color: white;
    border-color: var(--color-hover);
    transition: all .25s ease-in-out;
}

.paginacion__boton:hover {
    background-color: var(--color-fondo);
    color: var(--color-primario);
    font-weight: 700;
    border-color: var(--color-fondo);
}

@media (max-width: 768px) {
    .paginacion {
        gap: 3px;
    }

    .paginacion__boton {
        padding: 8px 10px;
        font-size: 14px;
    }

    #buscador-mobil-contenedor .seccionNavBarPage__navbar--inputBoton {
        border-radius: 10px;
    }

    .seccionNavBarPage__categorias {
        border-radius: 10px;
    }

    #buscador-mobil-contenedor .seccionNavBarPage__navbar-redes--second {
        gap: 0px;
    }
}

@media (max-width: 480px) {
    .paginacion {
        gap: 2px;
    }

    .paginacion__boton {
        padding: 6px 8px;
        font-size: 12px;
    }
}